apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: cohesity-ve1
  namespace: cohesity-ve
spec:
  running: true
  template:
    spec:
      domain:
        cpu:
          cores: 8
        resources:
          requests:
            memory: 32Gi
        devices:
          disks:
            - name: rootdisk
              disk: { bus: virtio }
            - name: metadisk
              disk: { bus: scsi }
            - name: datadisk
              disk: { bus: scsi }
            - name: cloudinit
              disk: { bus: virtio }
          interfaces:
            - name: default
              bridge: {}
            - name: data-nic
              bridge: {}
      networks:
        - name: default
          pod: {}
        - name: data-nic
          multus:
            networkName: cohesity-udn
      volumes:
        - name: rootdisk
          dataVolume:
            name: rhov-test-dv1
        - name: metadisk
          persistentVolumeClaim:
            claimName: vm1-meta
        - name: datadisk
          persistentVolumeClaim:
            claimName: vm1-data
        - name: cloudinit
          cloudInitNoCloud:
            networkData: |
              version: 2
              ethernets:
                enp1so:
                  dhcp4: true
                enp2s0:
                  addresses:
                  - 192.168.100.2/24