apiVersion: k8s.ovn.org/v1
kind: ClusterUserDefinedNetwork
metadata:
  name: cohesity-ve-network
spec:
  namespaceSelector:
    matchLabels:
      kubernetes.io/metadata.name: cohesity-ve
  network:
    topology: Layer2 # Changed from Localnet
    layer2:          # Changed from localnet
      subnets:
        - "192.168.100.0/24"
      role: Secondary
    ipam:
      mode: Disabled
